.achievement{
  width: 100%;
  background-color: var(--accent-color);
  padding: 5rem;

}
.legend{
  width: 50px;
  height: 50px;
}
.achievement-text{
  display: inline-block;
  color: var(--light-color);
  transform: translateY(0.7rem);
}
.box{
  display: inline;

}
.medium{
  font-size: 1.3rem;
  font-weight: 500;
}
.regular{
  font-size: 1rem;
  font-weight: 400;
}
.medium,
.regular{
  margin-left: 0.5rem;
}