.footer {
  height: 10rem;

  position: absolute;
  left: 0;
  right: 0;

  color: var(--light-color);
  background-color: var(--accent-color);
  
  text-align: center;
}

h3{
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}
