:root {
  --accent-color: #34547A;
  --bg-color: #EEEFF1;
  --light-color: #FFFFFF;
  --dark-color: #000000;
  --text-color: #727272;
  --row-visible-count: 3;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.align-center {
  align-items: center;
  text-align: center;
}

.bg-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--bg-color);
}

.content {
  margin: 3rem 0;
  color: var(--text-color);
  line-height: 1.6;
}

.content-centr {
  text-align: center;
  padding: 0;
  margin: auto;
}

.btn {
  max-width: 250px;
  padding: 1.7rem 3rem;
  background-color: var(--accent-color);
  color: var(--light-color);
  letter-spacing: 0.1em;
}

.btn:focus {
  box-shadow: 1px 1px 2px #555;
}

.overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 14px;
  }

  .rows-overflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--row-visible-count);
    max-height: calc(1.6rem*var(--row-visible-count));
    overflow: hidden;
  }
}

@media screen and (min-width: 992px) {
  :root {
    font-size: 16px;
  }

  .rows-overflow {
    display: block;
    overflow: visible;
  }
}