.text-block{
  display: flex;
  justify-content: center;
}
.sub-heading{
  padding-top: 6rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}
.content-center{
  text-align: center;
  padding-bottom: 4rem;
}
